<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.harmonytqs.mapper.DemoMapper">
    <select id="selectNameById" resultType="java.lang.String" parameterType="java.lang.Integer">
        select `name`
        from `tb_demo`
        where `id` = #{id};
    </select>
</mapper>